/* Estilos del footer */

footer {
    display: flex;
    height: 116px;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    padding: 0 10.83% 0 10.83%;
    p {
        font-family: $font-family-roboto;
        font-size: 14px;
    }
    .fab {
        color: $icon-color;
    }
    .fab:hover {
        transform: scale(2);
        color: $primary-color;
    }
}

.footer-left {
    justify-content: space-evenly;
    width: 191px;
    display: flex;
}


/* Estilos modo oscuro footer */

.dark {
    footer {
        background-color: $background-dark-mode;
        color: $primary-color-dark;
        .fab:hover {
            color: $background-black;
        }
    }
}