header.dark {
    background-color: $background-dark-mode;
}

nav.dark {
    ul.dark {
        li,
        a {
            color: $primary-color-dark;
        }
        #dark-mode:hover,
        a:hover {
            border-bottom: 2px solid $primary-color-dark;
        }
        .create {
            display: inline-block;
            border: 1px solid $primary-color-dark;
            color: $nav-mobile-dark;
            background-color: $primary-color-dark;
        }
        .create:hover,
        .create-active:hover {
            border: 1px solid $active-color;
            color: $primary-color-dark;
            background-color: $background-dark-mode;
            border-radius: 50%;
        }
        .active {
            color: $secundary-color;
        }
    }
}