.results {
    @extend .favorites;
    .line {
        margin-bottom: 83.9px;
        width: 23.47%;
        height: 0.1px;
        background-color: $active-color;
        min-width: 200px;
    }
    &.results-active {
        display: flex;
        opacity: 1;
        width: 100%;
        text-align: center;
    }
}