@mixin tamañosGifTrending {
    width: 24.5vw;
    min-width: 243px;
    max-width: 357px;
    height: calc(24.5vw - 100px);
    min-height: 187px;
    max-height: 275px;
}

.trending {
    display: inline-block;
    width: 100%;
    height: auto;
    background-color: $background-grey;
    text-align: center;
    h2 {
        margin: 67px 0 12px 0;
        font-size: 25px;
        line-height: 30px;
    }
    p {
        font-family: $font-family-roboto;
        font-size: 18px;
        margin-bottom: 53px;
    }
}

.container-carrusel {
    display: grid;
    margin: 0 94px 0 94px;
    grid-template-columns: 40px 1fr 1fr 1fr 40px;
    gap: 25px;
    height: auto;
    padding: 0 0 12.64% 0;
    button {
        width: 40px;
        height: 40px;
        background-color: transparent;
        cursor: pointer;
        align-self: center;
    }
    ul {
        list-style: none;
        display: flex;
        gap: 15px;
        grid-column: 2 / 5;
        overflow: hidden;
    }
    li {
        @include tamañosGifTrending;
        min-width: auto;
        img {
            @include tamañosGifTrending;
        }
    }
    li:hover {
        div {
            display: inline-block;
            position: absolute;
            @include tamañosGifTrending;
            opacity: 0.7;
            background-color: $primary-color;
        }
    }
}


/* Estilos modo oscuro seccion trending */

.dark {
    .trending {
        background-color: $background-black;
        h2,
        p {
            color: $primary-color-dark;
        }
    }
}