/*Variables en donde se guarda toda la paleta de colores*/

$primary-color:#572EE5;
$secundary-color: #50E3C2;
$primary-color-dark: #ffffff;
$background-dark-mode:#37383C;
$nav-mobile-dark: #000000;
$active-color:#9CAFC3;
$background-grey:#F3F5F8;
$background-black: #222326;

/* Variables donde se guarda la familia de la fuente */

$font-family-montserrat: 'Montserrat',
sans-serif;
$font-family-roboto: 'Roboto',
sans-serif;