nav.dark {
    /* .logo {
        content: url('');
    } */
    ul.dark {
        background-color: rgba($nav-mobile-dark, 1);
        #dark-mode:hover,
        li:hover,
        a:hover {
            border-bottom: none;
        }
        .active {
            background: -webkit-linear-gradient(rgba($active-color, 0.5), $primary-color-dark);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}