/*Estilos del header Diseño mobile*/

ul,
li {
    display: none;
}

header {
    height: 95px;
}

nav {
    .logo {
        width: 56px;
        height: 49px;
    }
    .ul-active {
        width: 100%;
        height: calc(100vh - 94px);
        background-color: rgba($primary-color, 0.9);
        position: absolute;
        flex-direction: column;
        justify-content: start;
        top: 96px;
        left: 0px;
        div {
            display: inline-block;
            width: 20%;
            height: 5px;
            background-color: rgba($active-color, 0.3);
            border-radius: 15%;
        }
        li,
        a {
            display: inline-block;
            box-sizing: content-box;
            height: 30px;
            color: $primary-color-dark;
        }
        li {
            width: 100%;
            height: 30px;
            padding: 12.5px 0px 12.5px 0px;
            padding-top: 20px;
        }
        li:first-child {
            padding-top: 32px;
        }
        li:last-child {
            display: none
        }
        #dark-mode:hover,
        a:hover {
            border-bottom: none;
        }
        .active {
            background: -webkit-linear-gradient(rgba($active-color, 0.5), $secundary-color);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}

.menu {
    display: inline-block;
    width: 15px;
    height: 14px;
    position: absolute;
    right: 10.83%;
}


/* Estilos modo oscuro footer mobile */

nav.dark {
    ul {
        background-color: rgba($nav-mobile-dark, 1);
        #dark-mode:hover,
        li:hover,
        a:hover {
            border-bottom: none;
        }
        .active {
            background: -webkit-linear-gradient(rgba($active-color, 0.5), $primary-color-dark);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}