.search {
    padding-bottom: 45px;
    h2 {
        margin: 7px 0 31px 0;
        font-size: 25px;
        line-height: 33px;
    }
    h3 {
        font-size: 16px;
    }
    p {
        display: inline-block;
        min-width: 225px;
        width: 60vw;
        height: 50px;
        font-size: 14px;
    }
}