@charset "UTF-8";
/*----------------------------------------------------------------------------------------------
    Desarrollado por: Juan Sebastian Rios Valencia
    Usuario git: Juansecod
    Linkedin: https://www.linkedin.com/in/juansecode/
----------------------------------------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  border-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*Variables en donde se guarda toda la paleta de colores*/
/* Variables donde se guarda la familia de la fuente */
/*Diseño Desktop*/
/* Reglas Basicas para todos los componentes */
body {
  max-width: 1440px;
}

/* Animaciones */
@-webkit-keyframes animation-nav {
  0% {
    top: -800px;
  }
  100% {
    top: 95px;
  }
}
@keyframes animation-nav {
  0% {
    top: -800px;
  }
  100% {
    top: 95px;
  }
}

/*Estilos del scrollbar*/
body::-webkit-scrollbar {
  width: 10px;
}

/* Ponemos un color de fondo y redondeamos las esquinas del thumb */
body::-webkit-scrollbar-thumb {
  background: indigo;
  background: -webkit-gradient(linear, left bottom, left top, from(indigo), to(#572EE5));
  background: linear-gradient(0deg, indigo 0%, #572EE5 100%);
  border-radius: 4px;
}

body.dark::-webkit-scrollbar-thumb {
  background: #222326;
  border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
body::-webkit-scrollbar-thumb:hover {
  background: #50E3C2;
  background: -webkit-gradient(linear, left bottom, left top, from(#50E3C2), to(#5072e3));
  background: linear-gradient(0deg, #50E3C2 0%, #5072e3 100%);
  -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

body.dark::-webkit-scrollbar-thumb:hover {
  background: #000000;
}

/* Ponemos un color de fondo y redondeamos las esquinas del track */
body::-webkit-scrollbar-track {
  background: #9CAFC3;
  border-radius: 4px;
}

/* Cambiamos el fondo cuando esté en active o hover */
body::-webkit-scrollbar-track:hover,
body::-webkit-scrollbar-track:active {
  background: #d4d4d4;
}

main,
footer {
  background-color: #ffffff;
}

h2,
h3 {
  font-family: "Montserrat", sans-serif;
  color: #572EE5;
}

.line {
  width: 100%;
  height: 5px;
  background-color: #572EE5;
}

a {
  text-decoration: none;
}

/* Linea en modo oscuro */
.dark .line {
  width: 100%;
  height: 5px;
  background-color: #000000;
}

/* Diseños del header para diseño desktop */
header {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  background-color: white;
  -webkit-box-shadow: 0 2px 4px 1px rgba(156, 175, 195, 0.55);
          box-shadow: 0 2px 4px 1px rgba(156, 175, 195, 0.55);
}

nav {
  width: 100%;
  padding: 18px 10.83% 12px 10.83%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

nav .logo {
  width: 68px;
  height: 60px;
}

nav ul {
  width: 55%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

nav ul hr {
  display: none;
}

nav ul li,
nav ul a {
  cursor: pointer;
  color: #572EE5;
}

nav ul #dark-mode:hover,
nav ul a:hover {
  border-bottom: 2px solid #50E3C2;
  border-radius: 10%;
}

nav ul .create {
  display: inline-block;
  border: 1px solid #572EE5;
  color: #572EE5;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 30px;
  line-height: 30px;
  font-weight: 100;
  text-align: center;
  padding: 15% 0 25% 0;
}

nav ul .create:hover,
nav ul .create-active:hover {
  border: 1px solid #572EE5;
  color: #ffffff;
  background-color: #572EE5;
  border-radius: 50%;
}

nav ul .create-active {
  display: inline-block;
  border: 1px solid #9CAFC3;
  background-color: #9CAFC3;
  color: #ffffff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 30px;
  line-height: 30px;
  font-weight: 100;
  text-align: center;
  padding: 15% 0 25% 0;
}

nav ul .active {
  color: #9CAFC3;
}

.menu {
  display: none;
}

/* Estilos modo oscuro en el header */
.dark header {
  background-color: #37383C;
}

.dark nav ul li,
.dark nav ul a {
  color: #ffffff;
}

.dark nav ul #dark-mode:hover,
.dark nav ul a:hover {
  border-bottom: 2px solid #ffffff;
}

.dark nav ul .create {
  display: inline-block;
  border: 1px solid #ffffff;
  color: #000000;
  background-color: #ffffff;
}

.dark nav ul .create:hover,
.dark nav ul .create-active:hover {
  border: 1px solid #9CAFC3;
  color: #ffffff;
  background-color: #37383C;
  border-radius: 50%;
}

.dark nav ul .active {
  color: #50E3C2;
}

.dark .container-input-header {
  border-color: #ffffff;
}

.dark .container-input-header .input-search {
  background-color: #37383C;
  color: #ffffff;
}

.container-input-header {
  width: calc(40% - 68px);
  height: auto;
  border: 1px solid #572EE5;
  border-radius: 27px;
  padding-left: 55px;
  padding-right: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

.container-input-header .input-search {
  width: calc(100% - 25px);
  height: 45px;
  margin: 0 5px 0 0;
  font-size: 16px;
  border: none;
}

.container-input-header .input-search:-ms-input-placeholder {
  color: #9CAFC3;
}

div.active {
  padding-left: 21px;
  padding-right: 21px;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}

div.active .input-search {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  width: calc(100% - 50px);
  margin: 0 5px 0 5px;
}

div.active #btn-search-header {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

div.active #btn-close-header {
  -ms-grid-column-align: right;
      justify-self: right;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  width: 20px;
}

div.active div {
  width: 100%;
  text-align: start;
  margin-top: 10px;
  -webkit-box-ordinal-group: 1001;
      -ms-flex-order: 1000;
          order: 1000;
  color: #9CAFC3;
}

div.active div em {
  margin-right: 5px;
}

div.active div:last-child {
  margin-bottom: 18px;
}

div.active span {
  border-radius: 10%;
  opacity: 0.5;
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
  width: 100%;
  height: 1px;
  background-color: #9CAFC3;
}

/* Estilios modo oscuro seccion search */
.dark .search {
  background-color: #37383C;
}

.dark .search h2,
.dark .search h3,
.dark .search p,
.dark .search a {
  color: #ffffff;
}

.dark .search .container-input {
  border-color: #ffffff;
}

.dark .search .container-input .input-search {
  background-color: #37383C;
  color: #ffffff;
}

/* Estilios seccion search */
.search {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 94px;
}

.search h2 {
  margin: 76px 0 24px 0;
  min-width: 286px;
  width: 64.86%;
  max-width: 934px;
  height: 100px;
  font-size: 35px;
}

@media screen and (min-width: 1200px) {
  .search h2 {
    padding-right: 13.16%;
    padding-left: 13.16%;
  }
}

.search h2 span {
  color: #50E3C2;
}

.search img {
  min-width: 273px;
  width: 27.7%;
  height: auto;
}

.search h3 {
  font-size: 18px;
}

.search p {
  display: inline;
  color: #572EE5;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

.search a {
  display: inline;
  color: #572EE5;
  cursor: pointer;
}

.search a:hover {
  text-decoration: underline;
}

.container-input {
  min-width: 300px;
  width: 38.26%;
  height: auto;
  border: 1px solid #572EE5;
  border-radius: 27px;
  padding-left: 55px;
  padding-right: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 5.07%;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

.container-input .input-search {
  width: calc(100% - 25px);
  height: 45px;
  margin: 0 5px 0 0;
  font-size: 16px;
  border: none;
}

.container-input .input-search:-ms-input-placeholder {
  color: #9CAFC3;
}

div.active {
  padding-left: 21px;
  padding-right: 21px;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}

div.active .input-search {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  width: calc(100% - 50px);
  margin: 0 5px 0 5px;
}

div.active #btn-search {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

div.active #btn-close {
  -ms-grid-column-align: right;
      justify-self: right;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  width: 20px;
}

div.active div {
  width: 100%;
  text-align: start;
  margin-top: 10px;
  -webkit-box-ordinal-group: 1001;
      -ms-flex-order: 1000;
          order: 1000;
  color: #9CAFC3;
}

div.active div em {
  margin-right: 5px;
}

div.active div:last-child {
  margin-bottom: 18px;
}

div.active span {
  border-radius: 10%;
  opacity: 0.5;
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
  width: 100%;
  height: 1px;
  background-color: #9CAFC3;
}

/* Estilios modo oscuro seccion search */
.dark .search {
  background-color: #37383C;
}

.dark .search h2,
.dark .search h3,
.dark .search p,
.dark .search a {
  color: #ffffff;
}

.dark .search .container-input {
  border-color: #ffffff;
}

.dark .search .container-input .input-search {
  background-color: #37383C;
  color: #ffffff;
}

.trending {
  display: inline-block;
  width: 100%;
  height: auto;
  background-color: #F3F5F8;
  text-align: center;
}

.trending h2 {
  margin: 67px 0 12px 0;
  font-size: 25px;
  line-height: 30px;
}

.trending p {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  margin-bottom: 53px;
}

.container-carrusel {
  display: -ms-grid;
  display: grid;
  margin: 0 94px 0 94px;
  -ms-grid-columns: 40px 1fr 1fr 1fr 40px;
      grid-template-columns: 40px 1fr 1fr 1fr 40px;
  gap: 25px;
  height: auto;
  padding: 0 0 12.64% 0;
}

.container-carrusel button {
  width: 40px;
  height: 40px;
  background-color: transparent;
  cursor: pointer;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.container-carrusel .gifs {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2 / 5;
  overflow: hidden;
}

.container-carrusel li {
  width: 24.5vw;
  min-width: 243px;
  max-width: 357px;
  height: calc(24.5vw - 100px);
  min-height: 187px;
  max-height: 275px;
  min-width: auto;
}

.container-carrusel li div {
  width: 24.5vw;
  min-width: 243px;
  max-width: 357px;
  height: calc(24.5vw - 100px);
  min-height: 187px;
  max-height: 275px;
  background-image: url("https://picsum.photos/357/275");
  padding-top: 3%;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.container-carrusel li:hover div {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(87, 46, 229, 0.7)), to(rgba(87, 46, 229, 0.7))), url(https://picsum.photos/357/275);
  background-image: linear-gradient(rgba(87, 46, 229, 0.7), rgba(87, 46, 229, 0.7)), url(https://picsum.photos/357/275);
}

.container-carrusel li:hover em {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  color: rgba(87, 46, 229, 0.7);
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 6px;
}

.container-carrusel li:hover em:hover {
  color: #572ee5;
  background-color: white;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.container-carrusel .text {
  display: inline-block;
  width: 100%;
  height: 70px;
  max-height: 70px;
  padding-left: 5%;
}

.container-carrusel .text p,
.container-carrusel .text h2 {
  text-align: left;
  max-height: 100px;
  margin: 0;
  color: white;
}

.icons {
  float: right;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  height: auto;
  max-height: 40px;
  max-width: 142.797px;
}

.icons li {
  margin: 0;
  padding: 0;
}

/* Estilos modo oscuro seccion trending */
.dark .trending {
  background-color: #222326;
}

.dark .trending h2,
.dark .trending p {
  color: #ffffff;
}

.dark .container-carrusel li:hover div {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(55, 56, 60, 0.7)), to(rgba(55, 56, 60, 0.7))), url(https://picsum.photos/357/275);
  background-image: linear-gradient(rgba(55, 56, 60, 0.7), rgba(55, 56, 60, 0.7)), url(https://picsum.photos/357/275);
}

.dark .container-carrusel li:hover em {
  color: rgba(34, 35, 38, 0.7);
}

.dark .container-carrusel li:hover em:hover {
  color: #222326;
}

/* Estilos del footer */
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 116px;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10.83% 0 10.83%;
}

footer p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

footer .fab {
  color: #CDD6E0;
}

footer .fab:hover {
  -webkit-transform: scale(2);
          transform: scale(2);
  color: #572EE5;
}

.footer-left {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 191px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Estilos modo oscuro footer */
.dark footer {
  background-color: #37383C;
  color: #ffffff;
}

.dark footer .fab:hover {
  color: #222326;
}

/* Limites para que la vista del usuario este centrada */
@media screen and (min-width: 1440px) {
  body {
    margin-left: calc((100vw - 1440px) / 2);
    margin-right: calc((100vw - 1440px) / 2);
    background: #572EE5;
    background: radial-gradient(circle, #ffffff 0%, #572EE5 100%);
  }
  body.dark {
    background: #572EE5;
    background: radial-gradient(circle, #000000 0%, #37383C 100%);
  }
}

/*Diseño responsive*/
@media screen and (max-width: 768px) {
  /*Estilos del header Diseño mobile*/
  ul,
  li {
    display: none;
  }
  header {
    height: 95px;
  }
  nav .logo {
    width: 56px;
    height: 49px;
  }
  nav .ul-active {
    width: 100%;
    height: calc(100vh - 94px);
    background-color: rgba(87, 46, 229, 0.9);
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    top: 96px;
    left: 0px;
    -webkit-animation: animation-nav 1.5s 1;
            animation: animation-nav 1.5s 1;
  }
  nav .ul-active hr {
    display: inline-block;
    width: 20%;
    height: 5px;
    background-color: rgba(156, 175, 195, 0.3);
    border-radius: 15%;
  }
  nav .ul-active li,
  nav .ul-active a {
    display: inline-block;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    height: 30px;
    color: #ffffff;
  }
  nav .ul-active li {
    width: 100%;
    height: 30px;
    padding: 12.5px 0px 12.5px 0px;
    padding-top: 20px;
  }
  nav .ul-active li:first-child {
    padding-top: 32px;
  }
  nav .ul-active li:last-child {
    display: none;
  }
  nav .ul-active #dark-mode:hover,
  nav .ul-active a:hover {
    border-bottom: none;
  }
  nav .ul-active .active {
    background: -webkit-linear-gradient(rgba(156, 175, 195, 0.5), #50E3C2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  nav .container-input-header {
    display: none;
  }
  .menu {
    display: inline-block;
    width: 15px;
    height: 14px;
    position: absolute;
    right: 10.83%;
  }
  /* Estilos modo oscuro footer mobile */
  .dark nav ul {
    background-color: black;
  }
  .dark nav ul #dark-mode:hover,
  .dark nav ul li:hover,
  .dark nav ul a:hover {
    border-bottom: none;
  }
  .dark nav ul .active {
    background: -webkit-linear-gradient(rgba(156, 175, 195, 0.5), #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  /* Estilos seccion search mobile */
  .search {
    padding-bottom: 45px;
  }
  .search h2 {
    margin: 7px 0 31px 0;
    font-size: 25px;
    line-height: 33px;
  }
  .search h3 {
    font-size: 16px;
  }
  .search p {
    display: inline-block;
    min-width: 225px;
    width: 60vw;
    height: 50px;
    font-size: 14px;
  }
  .search p p {
    display: inline;
  }
  .container-input {
    padding: 0 20px 0 55px;
  }
  /* Estilos seccion trending mobile */
  .trending h2 {
    margin: 46px 0 7px 0;
    font-size: 20px;
  }
  .trending p {
    margin-left: 21px;
    margin-right: 21px;
    font-size: 16px;
  }
  /* Estilos carrusel de gifs */
  .container-carrusel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0 22px 21.87% 22px;
  }
  .container-carrusel button {
    display: none;
  }
  .container-carrusel .gifs {
    width: auto;
    overflow-x: scroll;
    gap: 0;
  }
  .container-carrusel li {
    display: inline-block;
    min-width: 243px;
    margin-right: 15px;
  }
  .container-carrusel div {
    padding-right: 10px;
  }
  .icons {
    min-width: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 40%;
    gap: 10px;
    min-width: auto;
  }
  .icons li {
    min-width: 0px;
  }
}

@media screen and (max-width: 768px) and (max-width: 698px) {
  /* Estilos del footer Mobile*/
  footer {
    height: 196px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 28px;
  }
  .footer-left {
    width: 100%;
    margin-top: 47px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer-left p {
    width: 100%;
  }
  .footer-left a {
    margin: 22px 0 47.8px 0;
  }
}
/*# sourceMappingURL=style.css.map */