/*----------------------------------------------------------------------------------------------
    Desarrollado por: Juan Sebastian Rios Valencia
    Usuario git: Juansecod
    Linkedin: https://www.linkedin.com/in/juansecode/
----------------------------------------------------------------------------------------------*/

@import './partials/reset';
@import './partials/variables';

/*Diseño Desktop*/

@import './partials/basic-rules';
@import './partials/header';
@import './partials/search';
@import './partials/trending';
@import './partials/footer';

/* Limites para que la vista del usuario este centrada */

@media screen and (min-width: 1440px) {
    body {
        margin-left: calc((100vw - 1440px) / 2);
        margin-right: calc((100vw - 1440px) / 2);
        background: $primary-color;
        background: radial-gradient(circle, $primary-color-dark 0%, $primary-color 100%);
    }
    body.dark {
        background: $primary-color;
        background: radial-gradient(circle, $nav-mobile-dark 0%, $background-dark-mode 100%);
    }
}


/*Diseño responsive*/

@media screen and (max-width: 768px) {
    @import './partials/mobile/header-mobile';
    @media screen and (max-width: 698px) {
        @import './partials/mobile/search-mobile';
        @import './partials/mobile/footer-mobile';
    }
    @media screen and (max-width: 425px) {
        @import './partials/mobile/trending-mobile';
    }
}